<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{config.url.base}}pdf/pdf.css">
  </head>
  <body class="pdf-content type-{{noun.dso.type}} spread-{{pdf.mpdf.mirrorMargins}}">

    {% include cms.helper('templates').themeTemplate('pdf/partials/hf_document.twig') %}

    {% block prebody %}

    <sethtmlpageheader
      name="document"
      show-this-page="1"
      value="on" />
    <sethtmlpagefooter
      name="document"
      value="on" />
    <sethtmlpageheader
      name="document_even"
      show-this-page="1"
      page="even"
      value="on" />
    <sethtmlpagefooter
      name="document_even"
      page="even"
      value="on" />

      {% include cms.helper('templates').themeTemplate('partials/notifications.twig') %}

    {% endblock %}

    {% block body %}

      <div class="pdf-article level-0">

        <columns column-count="0"/>
        {% include cms.helper('templates').themeTemplate('pdf/partials/page_title.twig') %}

        <columns column-count="{{pdf.columns.count}}" column-gap="{{pdf.columns.gap}}"/>
        {{package.response.content|raw}}

      </div>

    {% endblock %}

    {% block postbody %}{% endblock %}

  </body>
</html>
