<columns column-count="0">

<!-- Load header/footer for this noun -->
{{cms.helper('pdf').template('hf_noun',noun)|raw}}

<!-- set header/footer for this noun, depending on level -->
{% if firstArticle %}
  <!-- first article, so we just set the header/footer -->
  <sethtmlpageheader
    name="noun_{{noun.dso.id}}"
    show-this-page="1"
    value="on" />
  <sethtmlpagefooter
    name="noun_{{noun.dso.id}}"
    value="on" />
  <sethtmlpageheader
    name="noun_{{noun.dso.id}}_even"
    show-this-page="1"
    page="even"
    value="on" />
  <sethtmlpagefooter
    name="noun_{{noun.dso.id}}_even"
    page="even"
    value="on" />
{% else %}
  <!-- not the first article, so we need a page break -->
  <pagebreak type="{{pdf.article_break_type}}"
    even-header-value="on"
    even-footer-value="on"
    odd-header-value="on"
    odd-footer-value="on"
    even-header-name="noun_{{noun.dso.id}}_even"
    even-footer-name="noun_{{noun.dso.id}}_even"
    odd-header-name="noun_{{noun.dso.id}}"
    odd-footer-name="noun_{{noun.dso.id}}" />
{% endif %}

<!-- set up the article content -->
<div class="pdf-article level-{{level}}">

  <h1>
    {% for p in extraTOCEntries %}
      <tocentry
        content="{{p.noun.title()}}"
        level="{{p.level}}" />
    {% endfor %}
    <tocentry
      content="{{noun.title()}}"
      level="{{level}}" />
    {{noun.title}}
  </h1>

  <columns column-count="{{pdf.columns.count}}" column-gap="{{pdf.columns.gap}}"/>
  {{noun.body|raw}}

</div>
